$main-color: #3677fd;
$menu-color: #d2d2d2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  line-height: 2.18;
}

.inner {
  max-width: 1170px;
  padding: 100px 15px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  font-family: Lato, Arial, sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: $main-color;
  text-transform: capitalize;

  @media screen and (max-width: 520px) {
    font-size: 35px;
    padding: 5px;
    margin: 5px;
  }
}

.btn {
  width: 204px;
  height: 56px;
  border: 1px solid transparent;
  border-radius: 28px;
  background-color: #fff;
  padding: 20px 50px;
  color: $main-color;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;

  &:hover,
  &:focus {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.65),
          inset 0 0 20px 0 #3564fc;
  }
  &:active {
    border: 1px solid #3564fc;
  }
}

.welcome {
  color: #fff;
  text-align: center;
  padding: 0 15px 45px;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-btn {
    align-self: flex-end;
  }
  &__menu-wrapper {
    display: none;
    input:checked ~ & {
      display: block;
      position: fixed;
      background-color: rgba(0, 0, 0, .5);
      width: 100%;
      height: 100%;
      z-index: 3;
      top: 0;
      overflow: auto;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: #fff;
    width: 90%;
    height: 704px;
    top: 16%;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    border-radius: 10px;

    @media screen and (max-width: 520px){
      width: 100%;
      height: 100%;
      top: 0;
      justify-content: flex-start;
    }
  }
  &__list {
    margin-top: 60px;
    width: 400px;
  }
  &__list::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 60px auto;
    background-color: $menu-color;

    @media screen and (max-width: 520px){
      margin: 15px auto 20px;
    }
  }
  &__menu-link {
    text-decoration: none;
    font-family: Lato, Arial, sans-serif;
    font-size: 50px;
    line-height: 2;
    font-weight: 300;
    text-transform: capitalize;
    color: $menu-color;

    @media screen and (max-width: 520px){
      line-height: 1.7;
    }

    &:hover,
    &:active {
      color: $main-color;
    }
  }
  &__social {
    width: 290px;
    display: flex;
    justify-content: space-between;
  }
  &__social-link {
    display: block;
    width: 51px;
    height: 51px;
    padding: 9px;
    border-radius: 50%;
    background-color: $menu-color;

    &--facebook:hover {
      background-color: #4867aa;
      transition-duration: .2s;
    }
    &--twitter:hover {
      background-color: #64a8f2;
      transition-duration: .2s;
    }
    &--dribbble:hover {
      background-color: #ea4c89;
      transition-duration: .2s;
    }
    &--behance:hover {
      background-color: #1666f7;
      transition-duration: .2s;
    }
  }
  &__lang {
    color: $menu-color;
    margin: 14px 20px;
    align-self: flex-end;
    cursor: pointer;

    @media screen and (max-width: 520px){
      align-self: center;
      margin: 20px auto;
    }
    &:hover {
      color: $main-color;
    }
  }
  &__lang-text {
    vertical-align: middle;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
  }
  .welcome__lang-img {
    vertical-align: middle;
  }
  &__circle {
    background: #fff;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin: 36px 0 77px;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
    }
    &:before {
      width: 165px;
      height: 165px;
      top: -10px;
      right: -10px;
      background: rgba(255, 255, 255, 0.09);
    }
    &:after {
      width: 185px;
      height: 185px;
      top: -20px;
      right: -20px;
      background: rgba(255, 255, 255, 0.06);
    }
    @media screen and (max-width: 520px){
      display: none;
    }
  }
  &__title {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    max-width: 805px;
    text-align: center;
    margin-bottom: 23px;

    @media screen and (max-width: 520px){
      font-size: 35px;
      margin: 30px auto 10px;
    }
  }
  &__text {
    max-width: 805px;
    text-transform: uppercase;
    margin-bottom: 58px;

    @media screen and (max-width: 520px){
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

#hamburger {
  display: none;

  & + label {
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
    display: flex;

    span {
      display: block;
      position: relative;
      margin: auto;
      width: 25px;
      height: 2px;
      background-color: #fff;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: block;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }
    }
  }

  &:checked + label {
    position: fixed;
    top: 18%;
    right: 7%;
    z-index: 4;
    span {
      background-color: transparent;
      transform: rotate(180deg);
      transition-duration: .6s;
      transition-timing-function: ease-in-out;

      &::before,
      &::after {
        top: 50%;
        bottom: initial;
        transition-duration: .5s;
        background-color: $main-color;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    @media screen and (max-width: 520px){
      top: 4%;
    }
  }
}

.about {
  background-color: #fff;
  width: 100%;
  .inner {
    padding-top: 70px;

    @media screen and (max-width: 768px) {
      padding: 15px;
    }
  }
  &__title {
    padding-bottom: 20px;
  }
  &__text {
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
    color: #5a5a5a;
  }
}

.expert {
  background-color: #f1f8ff;
  width: 100%;
  .inner {
    padding: 70px 15px 30px;

    @media screen and (max-width: 768px) {
      padding: 15px;
    }
  }
  &__list {
    list-style: none;
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap;

    @media screen and (max-width: 1175px) {
      justify-content: center;
    }
    @media screen and (max-width: 850px) {
      margin-top: 10px;
    }
  }
  &__item {
    margin: 0 12px 80px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      margin: 10px;
    }
        &:hover .expert__img {
      transform: scale(1.2);
      transition: all .5s ease-in;
    }
  }
  &__subtitle {
    text-align: center;
    font-family: Lato, Arial, sans-serif;
    color: $main-color;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  &__info {
    width: 356px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
    color: #5a5a5a;
  }
  &__img {
    padding-bottom: 45px;
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      padding: 6px;
    }
  }
}

.works {
  .inner {
    padding-bottom: 4px;

    @media screen and (max-width: 768px) {
      padding: 15px;
    }
  }
  &__title {
    line-height: 30px;
    margin-bottom: 100px;

    @media screen and (max-width: 768px) {
      margin: 10px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto 190px;
    list-style: none;

    @media screen and (max-width: 1175px) {
      justify-content: center;
    }
    @media screen and (max-width: 768px){
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__item {
    width: 360px;
    height: 270px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    padding-bottom: 1px;
    margin: 5px;

    &:hover {
      box-shadow: 0 0 5px 2px #676565;
      transform: scale(1.05);
      transition: all .2s ease;
    }
  }
  &__link {
    display: block;
    cursor: pointer;
    height: 100%;
  }
}

.clients {
  background: #f1f8ff;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }
  &__title {
    line-height: 25px;
    margin-bottom: 70px;

    @media screen and (max-width: 768px) {
      margin: 0 auto 20px;
    }
  }
  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 1175px){
      width: 500px;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 520px){
      width: 250px;
      justify-content: center;
    }
    &__link {
      filter: grayscale(100%);
      opacity: 20%;
      &:hover {
        filter: none;
        opacity: 1;
        transition-duration: .4s;
      }
    }
  }
}
//---------------------FOOTER---------------------

.footer {
  height: 247px;
  color: #fff;

  @media screen and (max-width: 520px){
    height: 150px;
  }
  &__container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 520px){
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__text {
    font-family: Lato, Arial, sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    line-height: 1;

    @media screen and (max-width: 1175px){
      font-size: 30px;
    }
    @media screen and (max-width: 520px){
      font-size: 20px;
    }
  }
  &__text-bold {
    font-weight: 700;
  }
}

//---------------------Feedback-Form---------------------
.feedback {
  z-index: 5;

  &__wrapper {
    z-index: 5;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 50%;
    top: -600%;
    transform: translate(-50%);
    overflow: auto;
  }
  &__form {
    width: 812px;
    height: 624px;
    background-color: #fff;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 35px;
    color: #5a5a5a;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 850px){
      width: 90%;
      min-height: 100%;
      padding: 15px;
      top: 10px;
    }
    @media screen and (max-width: 520px){
      width: 100%;
      top: 0;
    }
  }
  #feedback{
    display: none;
  }
  #feedback:checked ~ .feedback__wrapper {
    top: 0;
  }
  &__title {
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 98px;
    text-align: center;
    color: $main-color;
    text-transform: capitalize;
  }
  &__inputs {
    width: 70%;
    margin: 8px auto 18px;

    @media screen and (max-width: 850px){
      width: 80%;
    }

    @media screen and (max-width: 520px){
      margin: 18px auto 28px;
    }
  }
  &__name,
  &__email,
  &__message {
    width: 100%;
    border: 1px solid #b7c0ca;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px 20px;
    outline: none;

    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    text-align: left;

    @media screen and (max-width: 520px){
      margin: 20px 0;
    }
    &:hover,
    &:focus {
      &:invalid {
        border-color: #f00;
      }
    }
    &:valid {
      background-color: #cad9fa;
      border-color: $main-color;
    }
  }
  &__message {
    resize: none;
    height: 180px;

    @media screen and (max-width: 520px){
      height: 80px;
    }
  }
  &__btn-send {
    width: 204px;
    height: 56px;
    border: 1px solid transparent;
    border-radius: 28px;
    background-image: linear-gradient(39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    padding: 20px 0;
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;

    display: block;
    margin: 0 auto;
  }
  &__btn-close {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    font-size: 60px;
    font-weight: 300;
    color: $main-color;
    bottom: calc(94% - 15px);
    left: calc(94% - 15px);
    cursor: pointer;
    @media screen and (max-width: 520px){
      bottom: calc(90% - 5px);
      left: calc(90% - 15px);
    }
  }
}
//---------------------------Modal-------------------------

.modal {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  overflow: auto;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  z-index: 5;

  &__inner {
    width: 1200px;
    height: 636px;
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 1200px) {
      width: 98%;
    }

    @media screen and (max-width: 520px) {
      justify-content: center;
      min-height: 100%;
      top: 0;
    }
  }
  &__icon {
    width: 362px;
    height: 362px;
    border-radius: 50%;
    box-shadow: 0 0 60px 0 rgba(255, 255, 255, .65), 0 0 55px 0 rgba(0, 0, 0, .35);
    background-color: #fff;
    padding: 70px 80px;
    margin-top: -260px;

    @media screen and (max-width: 850px){
      width: 262px;
      height: 262px;
      padding: 20px 30px;
      margin-top: -200px;
    }
    @media screen and (max-width: 520px){
      margin-top: 0;
    }
  }
  &__text-block {
    @media screen and (max-width: 520px){
      margin: 8px auto;
    }
  }
  &__title {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 48px;
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
    color: #eb304d;

    @media screen and (max-width: 520px) {
      font-size: 36px;
    }
  }
  &__text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 24px;
    line-height: 2.15;
    font-weight: 400;
    text-align: center;
    color: #b9bcd1;

    @media screen and (max-width: 520px) {
      font-size: 18px;
      line-height: 1.15;
    }
  }
  &__btn {
    display: block;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #eb304d;
    background-color: rgba(235, 48, 77, 1);
    width: 288px;
    padding: 34px 50px;
    text-align: center;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: rgba(235, 48, 77, .7);
    }
    &:active {
      background-color: rgb(235, 48, 77, .9);
    }
  }
  &__close {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    font-size: 60px;
    font-weight: 300;
    color: #eb304d;
    top: -30px;
    right: 10px;
    cursor: pointer;
  }
}
//--------------------------Cookies-------------------------

.cookies {
  &__container {
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 20px 5px;
    background-color: #194277;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-right: 20px;

    @media screen and (max-width: 600px) {
      font-size: 10px;
    }
  }
  &__btn {
    display: block;
    border: 1px solid transparent;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
    width: 112px;
    height: 30px;
    color: #194277;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
  }
}

#accept{
  display: none;
}
#accept:checked ~ .cookies__container {
  transform: translateY(-200%);
  transition: all .2s ease;
}
//-------------------Up/Down-Button--------------------

.arrow-button {
  position: fixed;
  left: calc(50% - 15px);
  z-index: 2;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: .5;
  transition-duration: .5s;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;

  @media screen and (max-width: 1024px) {
    width: 50px;
    height: 50px;
    left: 50px;
  }
  &--up {
    display: none;
    top: 50px;
  }
  &--down {
    display: block;
    bottom: 50px;
    transform: rotate(180deg);
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &__icon {
    display: block;
    margin: 5px auto;

    @media screen and (max-width: 1024px) {
      margin: 15px auto;
    }
  }
  &:hover {
    opacity: 1;
    background-color: #fff;
    filter: invert(80%);
  }
}

.shown { display: block; }
.hidden { display: none; }
